<% form({ method: :post },{ obj: @parameters }) do |f| %>
    <div class="grid-x grid-margin-x">
            <div class="large-4 cell">
                <%= f.input(:name_one, type: :text, label: 'Имя', placeholder: 'First')%>
            </div>
            <div class="large-4 cell">
                <%= f.input(:name_two, type: :text, label: 'Фамилия', placeholder: 'Second')%>
            </div>
            <div class="large-6 cell">
                <%= f.input(:rate, type: :select, label: 'Тариф', options: RateType.all_types)%>
            </div>
            
        <div>
            <%= f.button(value: 'Добавить', class: 'button')%>
            <a href="/list" class="button secondary">Back</a>
        </div>
    </div>
<%end%>