<div class="grid-x grid-margin-x">
    <div class="cell large-12">
       <p>Cредняя общая стоимость телефонной связи = </p>
       <p>Cреднее количество минут телефонных разговоров </p>
       <p>Oбщее количество абонентов </p>
    </div>
    <a href="/list" class="button secondary">Back</a>
</div>